*.o
*.d
*.obj
*.xuv
*.log
*.elf
apps/applications/sink/config_definition.c
apps/applications/sink/config_definition.gz
apps/applications/sink/config_definition.h
apps/applications/sink/config_definition.xml
apps/applications/sink/qcc512x_qcc302x/CF376_CF212/sink_191126100415_build.log
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/flags.assemble
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/flags.compile
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/flags.libs
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/flags.link
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/flags.preprocess
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/flags.strip
apps/applications/sink/qcc512x_qcc302x/common/depend_Speaker_qcc512x_qcc302x/sink.elf
apps/applications/sink/qcc512x_qcc302x/common/flags.configuration
apps/applications/sink/qcc512x_qcc302x/common/sedtwxGKW
apps/applications/sink/qcc512x_qcc302x/customer_ro_filesystem/config_definition.gz
apps/applications/sink/sink_a2dp_config_def.h
apps/applications/sink/sink_audio_clock_config_def.h
apps/applications/sink/sink_audio_prompts_config_def.h
apps/applications/sink/sink_audio_routing_config_def.h
apps/applications/sink/sink_audio_ttp_config_def.h
apps/applications/sink/sink_avrcp_config_def.h
apps/applications/sink/sink_ble_config_def.h
apps/applications/sink/sink_button_config_def.h
apps/applications/sink/sink_configure_dsp_capability_ids_config_def.h
apps/applications/sink/sink_device_id_config_def.h
apps/applications/sink/sink_display_config_def.h
apps/applications/sink/sink_downloadable_capabilities_config_def.h
apps/applications/sink/sink_dut_config_def.h
apps/applications/sink/sink_gaia_config_def.h
apps/applications/sink/sink_gatt_client_ancs_config_def.h
apps/applications/sink/sink_gatt_common_ias_config_def.h
apps/applications/sink/sink_gatt_hid_remote_control_config_def.h
apps/applications/sink/sink_gatt_server_ias_config_def.h
apps/applications/sink/sink_gatt_server_lls_config_def.h
apps/applications/sink/sink_hfp_data_config_def.h
apps/applications/sink/sink_inputmanager_config_def.h
apps/applications/sink/sink_inquiry_config_def.h
apps/applications/sink/sink_led_config_def.h
apps/applications/sink/sink_low_power_mode_config_def.h
apps/applications/sink/sink_multi_channel_config_def.h
apps/applications/sink/sink_pbap_config_def.h
apps/applications/sink/sink_peer_config_def.h
apps/applications/sink/sink_pio_config_def.h
apps/applications/sink/sink_power_manager_charger_bc12_config_def.h
apps/applications/sink/sink_power_manager_charger_configuration_config_def.h
apps/applications/sink/sink_power_manager_config_def.h
apps/applications/sink/sink_power_manager_pmu_monitor_config_def.h
apps/applications/sink/sink_power_manager_vbat_config_def.h
apps/applications/sink/sink_power_manager_vchg_config_def.h
apps/applications/sink/sink_power_manager_vref_config_def.h
apps/applications/sink/sink_power_manager_vthm_config_def.h
apps/applications/sink/sink_private_data_config_def.h
apps/applications/sink/sink_secure_connection_config_def.h
apps/applications/sink/sink_tones_config_def.h
apps/applications/sink/sink_upgrade_config_def.h
apps/applications/sink/sink_usb_charger_config_def.h
apps/applications/sink/sink_usb_config_def.h
apps/applications/sink/sink_usb_proprietary_charger_config_def.h
apps/applications/sink/sink_volume_config_def.h
apps/applications/sink/sink_wired_config_def.h
apps/installed_libs/lib/default_qcc512x_qcc302x/native/
apps/installed_libs/lib/os/
apps/libs/a2dp/12/
apps/libs/a2dp/debug/
apps/libs/a2dp/default/
apps/libs/afh_channel_map/default/
apps/libs/ahi/debug/
apps/libs/ahi/default/
apps/libs/anc/default/
apps/libs/aov/debug/
apps/libs/aov/default/
apps/libs/audio/debug/
apps/libs/audio/default/
apps/libs/audio_anc_tuning/default/
apps/libs/audio_config/default/
apps/libs/audio_hardware/default/
apps/libs/audio_input_a2dp/debug/
apps/libs/audio_input_a2dp/default/
apps/libs/audio_input_analogue/default/
apps/libs/audio_input_broadcast/debug/
apps/libs/audio_input_broadcast/default/
apps/libs/audio_input_common/debug/
apps/libs/audio_input_common/default/
apps/libs/audio_input_common/pts/
apps/libs/audio_input_common/pts_debug/
apps/libs/audio_input_i2s/default/
apps/libs/audio_input_spdif/default/
apps/libs/audio_input_spdif/interleaved/
apps/libs/audio_input_tws/debug/
apps/libs/audio_input_tws/default/
apps/libs/audio_input_usb/debug/
apps/libs/audio_input_usb/default/
apps/libs/audio_input_voice_prompts/debug/
apps/libs/audio_input_voice_prompts/default/
apps/libs/audio_instance/default/
apps/libs/audio_mixer/default/
apps/libs/audio_mixer/dual_core/
apps/libs/audio_music_processing/debug/
apps/libs/audio_music_processing/default/
apps/libs/audio_output/debug/
apps/libs/audio_output/default/
apps/libs/audio_output_broadcast/debug/
apps/libs/audio_output_broadcast/default/
apps/libs/audio_output_tws/debug/
apps/libs/audio_output_tws/default/
apps/libs/audio_output_unused/default/
apps/libs/audio_plugin_common/default/
apps/libs/audio_plugin_forwarding/debug/
apps/libs/audio_plugin_forwarding/default/
apps/libs/audio_plugin_music_variants/default/
apps/libs/audio_plugin_voice_variants/default/
apps/libs/audio_plugin_voice_variants/dsp_examples/
apps/libs/audio_plugin_voice_variants/no_dsp/
apps/libs/audio_ports/default/
apps/libs/audio_processor/debug/
apps/libs/audio_processor/debug_speed/
apps/libs/audio_processor/default/
apps/libs/audio_processor/speed/
apps/libs/audio_voice_assistant/debug/
apps/libs/audio_voice_assistant/default/
apps/libs/audio_voice_common/default/
apps/libs/audio_voice_hfp/debug/
apps/libs/audio_voice_hfp/default/
apps/libs/audio_voice_usb/default/
apps/libs/avrcp/default/
apps/libs/bdaddr/default/
apps/libs/broadcast/debug/
apps/libs/broadcast/default/
apps/libs/broadcast_cmd/debug/
apps/libs/broadcast_cmd/default/
apps/libs/broadcast_context/default/
apps/libs/broadcast_stream_service_record/default/
apps/libs/byte_utils/default/
apps/libs/byte_utils/hydra/
apps/libs/chain/debug/
apps/libs/chain/default/
apps/libs/config_store/debug/
apps/libs/config_store/default/
apps/libs/connection/default/
apps/libs/connection/no_ble/
apps/libs/cryptovm/default/
apps/libs/csr_i2s_audio_plugin/debug/
apps/libs/csr_i2s_audio_plugin/default/
apps/libs/custom_operator/debug/
apps/libs/custom_operator/default/
apps/libs/display/default/
apps/libs/display_plugin_midas/default/
apps/libs/display_screens/default/
apps/libs/file_list/default/
apps/libs/gaia/debug/
apps/libs/gaia/default/
apps/libs/gaia/rfcomm/
apps/libs/gaia/rfcomm_debug/
apps/libs/gain_utils/default/
apps/libs/gatt/debug/
apps/libs/gatt/default/
apps/libs/gatt/pts_test/
apps/libs/gatt_apple_notification_client/debug/
apps/libs/gatt_apple_notification_client/default/
apps/libs/gatt_battery_client/debug/
apps/libs/gatt_battery_client/default/
apps/libs/gatt_battery_server/debug/
apps/libs/gatt_battery_server/default/
apps/libs/gatt_broadcast_client/debug/
apps/libs/gatt_broadcast_client/default/
apps/libs/gatt_broadcast_server/debug/
apps/libs/gatt_broadcast_server/default/
apps/libs/gatt_client/default/
apps/libs/gatt_device_info_client/default/
apps/libs/gatt_device_info_server/default/
apps/libs/gatt_gap_server/default/
apps/libs/gatt_heart_rate_client/debug/
apps/libs/gatt_heart_rate_client/default/
apps/libs/gatt_heart_rate_server/debug/
apps/libs/gatt_heart_rate_server/default/
apps/libs/gatt_hid_client/debug/
apps/libs/gatt_hid_client/default/
apps/libs/gatt_imm_alert_client/debug/
apps/libs/gatt_imm_alert_client/default/
apps/libs/gatt_imm_alert_server/default/
apps/libs/gatt_link_loss_server/default/
apps/libs/gatt_logging_server/default/
apps/libs/gatt_manager/debug/
apps/libs/gatt_manager/default/
apps/libs/gatt_running_speed_cadence_server/default/
apps/libs/gatt_scan_params_client/default/
apps/libs/gatt_server/default/
apps/libs/gatt_transmit_power_server/default/
apps/libs/gatt_transport_discovery_server/debug/
apps/libs/gatt_transport_discovery_server/default/
apps/libs/hfp/debug/
apps/libs/hfp/default/
apps/libs/hfp/hfp_parse.c
apps/libs/hfp/hfp_parse.h
apps/libs/hfp/min_cfm/
apps/libs/hid/default/
apps/libs/hid/device/
apps/libs/hid/device_debug/
apps/libs/hid_upgrade/default/
apps/libs/input_event_manager/default/
apps/libs/local_device/default/
apps/libs/mapc/default/
apps/libs/md5/default/
apps/libs/obex/default/
apps/libs/operators/default/
apps/libs/packetiser_helper/default/
apps/libs/pbapc/default/
apps/libs/pblock/default/
apps/libs/pio_common/debug/
apps/libs/pio_common/default/
apps/libs/power/default/
apps/libs/power_onchip/bc5mm/
apps/libs/power_onchip/debug/
apps/libs/power_onchip/debug_full/
apps/libs/power_onchip/default/
apps/libs/power_onchip_adapter/debug/
apps/libs/power_onchip_adapter/default/
apps/libs/power_smb1352/debug/
apps/libs/power_smb1352/default/
apps/libs/power_smb1352_adapter/debug/
apps/libs/power_smb1352_adapter/default/
apps/libs/ps_dynamic_config_store/default/
apps/libs/region/default/
apps/libs/resource_manager/default/
apps/libs/rtime/default/
apps/libs/rwcp_server/debug/
apps/libs/rwcp_server/default/
apps/libs/scm/debug/
apps/libs/scm/default/
apps/libs/scm_transport/default/
apps/libs/sdp_parse/default/
apps/libs/service/default/
apps/libs/sport_health_driver/debug/
apps/libs/sport_health_driver/debug_msg_flow/
apps/libs/sport_health_driver/default/
apps/libs/sport_health_driver_imu_bmi160/default/
apps/libs/sport_health_driver_ppg_max30102/default/
apps/libs/sport_health_hub/attitude_debug_disable/
apps/libs/sport_health_hub/debug_disable/
apps/libs/sport_health_hub/debug_msg_flow/
apps/libs/sport_health_hub/default/
apps/libs/sport_health_hub/enable_attitude/
apps/libs/sport_health_hub/ppg/
apps/libs/sport_health_hub/ppg_debug_disable/
apps/libs/sport_health_logging/default/
apps/libs/sport_health_logging/logging_compress/
apps/libs/spp_common/default/
apps/libs/sppc/default/
apps/libs/spps/default/
apps/libs/system_clock/default/
apps/libs/tws_packetiser/debug/
apps/libs/tws_packetiser/default/
apps/libs/tws_synchronised_control/default/
apps/libs/upgrade/apps_sqif_audio/
apps/libs/upgrade/apps_sqif_audio_debug/
apps/libs/upgrade/debug/
apps/libs/upgrade/default/
apps/libs/usb_device_class/ba/
apps/libs/usb_device_class/default/
apps/libs/usb_device_class/hid_only/
apps/libs/usb_device_class/hid_only_debug/
apps/libs/usb_device_class/no_mass_storage/
apps/libs/uuid/default/
apps/libs/vmal/default/
apps/libs/voice_assistant_packetiser/debug/
apps/libs/voice_assistant_packetiser/default/
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sed85DXvo
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sed8kLgj8
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sedCsTz3j
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sedOLSaxG
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sedTgcTOh
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sedUMpc45
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sedf3UpZ8
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/depend/sedvdQvpA
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/download/depend/sedOMVOqC
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/last_bundle.txt
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/cbops/depend/sed3snnw6
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/cbops/depend/sed3vsWvs
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/cbops/depend/sed6n7Gk4
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/cbops/depend/sedbF01mi
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/op_data_access/depend/sedpHfGuX
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/stream/depend/sedN35v3r	

apps/applications/sink/qcc512x_qcc302x/common/build_id_str.c		
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/capabilities/cvc_send/debugbin/libcvc_send.a		
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/cbops/debugbin/libcbops.a	  
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/op_data_access/debugbin/libop_data_access.a
audio/kalimba/kymera/tools/KCSMaker/out/stre_rom_v02_release/support_lib/stream/debugbin/libstream.a
apps/applications/sink/config_build.log